<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162314490059-0cl3ipjvuh7u7glgsi5b821a0lp5adad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162314490059-0cl3ipjvuh7u7glgsi5b821a0lp5adad</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>162314490059-44tdsoau5p0m70urs2fvc464r5upih7k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuDu2ZL5Ro64JOBjLXgWvQi92zta53ZXY</string>
	<key>GCM_SENDER_ID</key>
	<string>162314490059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petbook</string>
	<key>PROJECT_ID</key>
	<string>petbook-8daf6</string>
	<key>STORAGE_BUCKET</key>
	<string>petbook-8daf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162314490059:ios:c2f0fb04c4b0d0b5610b4e</string>
	<key>DATABASE_URL</key>
	<string>https://petbook-8daf6-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>